{# HEREDANDO HEADER Y FOOTER #}
{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1 class="mt-2 mx-3">TIPOS</h1>

    <br>
    <div class="row mt-2 mx-2">
      <div class="col-md-5">
        <form class="" action="/guardarTipo/" method="post" enctype="multipart/form-data">

          {% csrf_token %}

          <b>NOMBRE:</b>
          <input type="text" name="nombre_ag" id="nombre_ag" value="" placeholder="INGRESE EL NOMBRE" class="form-control" required>
          <br>
          <b>CATEGORÍA:</b>
          <input type="text" name="categoria_ag" id="categoria_ag" value="" placeholder="INGRESE LA CATEGORÍA" class="form-control" required>
          <br>
          <b>DESCRIPCIÓN:</b>
          <textarea name="descripcion_ag" id="descripcion_ag" rows="3" class="form-control"  placeholder="INGRESE LA DESCRIPCIÓN"></textarea>
          <br>


          <center>
            <button type="submit" name="button" class="btn btn-dark">&nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" name="button" class="btn btn-danger">CANCELAR</button>
          <center>

        </form>

      </div>
      <div class="col-md-7">
        <br>


    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>CATEGORÍA</th>
          <th>DESCRIPCIÓN</th>
          <th>ACCIONES</th>


        </tr>
      </thead>
      <tbody>

          {% for tipo in tipos %}
            <tr>
              <td>{{tipo.id_ag}}</td>
              <td>{{tipo.nombre_ag}}</td>
              <td>{{tipo.categoria_ag}}</td>
              <td>{{tipo.descripcion_ag}}</td>



            <td>
              <a href="/editarTipo/{{Tipo.id_ag}}" class="btn btn-dark">EDITAR</a>
              <a href="javascript:void(0)"
                    onclick=
                    "eliminarTipo('/eliminarTipo/{{tipo.id_ag}}');"
                    class="btn btn-danger">
                      ELIMINAR
              </a>
            </td>
          </tr>
          {% endfor %}

      </tbody>
    </table>


    <script type="text/javascript">
    function eliminarTipo(url) {
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar la PROVINCIA seleccionada?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  window.location.href=url;
              }, true],
              ['<button>NO</button>', function (instance, toast) {

                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

              }],
          ]
      });
    }
  </script>

{% endblock %}
