{# HEREDANDO HEADER Y FOOTER #}
{% extends "./plantilla.html" %}
{% load static %}
{% block contenido %}
    <h1 class="mt-2 mx-3">CLIENTES</h1>

    <br>
    <div class="row mt-2 mx-2">
      <div class="col-md-5">
        <form class="" action="/procesarActualizacionClientes/" method="post" enctype="multipart/form-data">

          {% csrf_token %}

          <b>NOMBRE:</b>
          <input type="text" name="nombre_ag" id="nombre_ag" value="" placeholder="INGRESE EL NOMBRE" class="form-control" required>
          <br>
          <b>APELLIDO:</b>
          <input type="text" name="apellido_ag" id="apellido_ag" value="" placeholder="INGRESE EL APELLIDO" class="form-control" required>
          <br>
          <b>NUMERO:</b>
          <input type="IntegerField" name="numero_ag" id="numero_ag" value="" placeholder="INGRESE EL NUMERO" class="form-control" required>
          <br>
          <b>EMAIL:</b>
          <input type="EmailField" name="email_ag" id="email_ag" value="" placeholder="INGRESE EL EMAIL" class="form-control" required>
          <br>


          <center>
            <button type="submit" name="button" class="btn btn-dark">&nbsp;&nbsp;&nbsp;GUARDAR&nbsp;&nbsp;&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="submit" name="button" class="btn btn-danger">CANCELAR</button>
          <center>

        </form>

      </div>
      <div class="col-md-7">
        <br>


    <table class="table">

      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>NUMERO</th>o
          <th>EMAIL</th>
          <th>ACCIONES</th>


        </tr>
      </thead>
      <tbody>

          {% for cliente in clientes %}
            <tr>
              <td>{{cliente.id_ag}}</td>
              <td>{{cliente.nombre_ag}}</td>
              <td>{{cliente.apellido_ag}}</td>
              <td>{{cliente.numero_ag}}</td>
              <td>{{cliente.email_ag}}</td>



            <td>
              <a href="/editarCliente/{{Cliente.id_ag}}" class="btn btn-dark">EDITAR</a>
              <a href="javascript:void(0)"
                    onclick=
                    "eliminarCliente('/eliminarCliente/{{cliente.id_ag}}');"
                    class="btn btn-danger">
                      ELIMINAR
              </a>
            </td>
          </tr>
          {% endfor %}

      </tbody>
    </table>


    <script type="text/javascript">
    function eliminarCliente(url) {
      iziToast.question({
          timeout: 15000,
          close: true,
          overlay: true,
          displayMode: 'once',
          id: 'question',
          zindex: 999,
          title: 'CONFIRMACIÓN',
          message: '¿Está seguro de eliminar el CLIENTE seleccionado?',
          position: 'center',
          buttons: [
              ['<button><b>SI</b></button>', function (instance, toast) {
                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');
                  window.location.href=url;
              }, true],
              ['<button>NO</button>', function (instance, toast) {

                  instance.hide({ transitionOut: 'fadeOut' }, toast, 'button');

              }],
          ]
      });
    }
  </script>

{% endblock %}
